PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/tazkiyah

JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=30d

# Used only by seed script to create the initial super admin
SEED_ADMIN_NAME=Super Admin
SEED_ADMIN_EMAIL=admin@tazkiyah.app
SEED_ADMIN_PASSWORD=change-this-password
